main{
    width: 400px;
    height: 400px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#scan-btn{
    padding: 10px 40px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    position: relative;

}
#scan-btn:after{
    content: "";
    opacity: 0;
    width: 100%;
    position: absolute;
    inset: 0;
    height: 100%;
    background: rgb(0,243,255);
    background: linear-gradient(0deg, rgba(0,243,255,0) 40%, rgba(173,0,255,0.5) 50%, rgba(0,243,255,0) 60%);
}
#scan-btn:hover{
    animation: scaleUpDown infinite 2.5s;
    &:after{
        opacity: 1;
        animation: slideUpDown infinite 2.5s;
    }
}
@keyframes scaleUpDown {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}
@keyframes slideUpDown {
    0%{
        transform: translateY(-50%);
    }
    33%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(50%);
    }
}
#contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
    h1{
        font-size: 4rem;
        font-weight: bolder;
    }
}
#circ{
    width: 200%;
    height: 200%;
    /*background:radial-gradient(circle, rgba(96,181,255,1) 0%, rgba(0,243,255,1) 50%, rgba(0,243,255,0) 50%);*/
    scale: 1;
    position: absolute;
    bottom: 0;
    transform: translateY(59%);
    z-index: 1;
    display: flex;
    align-items: center;
    color: black;
}
#header{
    width: 100%;
    padding: 10px 10px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 0.8rem;
        color: #c2c2c2;
    }
}
#settings{
    width: 32px;
    height: 32px;
    color: black;
    cursor: pointer;
}

#settingsPanal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    inset: 0;
    z-index: 10;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 50px 20px;
    animation: fadeIn linear 0.3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#settingsClose{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    color: black;
    cursor: pointer;

}
#settingTitle{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}
#buttonConatiner{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
#saveBtn{
    padding: 10px 40px;
    background-color: #60B5FF;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}
.input{
    appearance: none;
    padding: 10px 15px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}
.label{
    color: black;
    font-size: 0.8rem;
}
#status{
    position: absolute;
    bottom: 20px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 9;
    width:fit-content;
    height: fit-content;
}

/* HTML: <div class="loader"></div> */
.loader {
    z-index: 9;
    position: absolute;
    bottom: 20px;
    width: 60px;
    aspect-ratio: 1.154;
    --c: #0000 , #000000 2deg 59deg,#0000 61deg;
    --c1:conic-gradient(from 149deg at top   ,var(--c));
    --c2:conic-gradient(from -31deg at bottom,var(--c));
    background:
            var(--c1) top,
            var(--c1) bottom right,
            var(--c2) bottom,
            var(--c1) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    animation: l37 1s infinite;
}
@keyframes l37 {
    80%,100%{background-position: bottom right,bottom left,bottom,top}
}

